body {
  font-family: Arial, Helvetica, sans-serif;
}

/*  */
#scene {
  display: flex;
  width: 100%;
  height: 720px;
  background-color: lightcyan;
  justify-content: center;
  flex-direction: column;

  overflow: hidden;
}
#scene button {
  height: 4em;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}

#scenario {
  margin: 3em;
}
.proto {
    display: none;
}
/*  */
#aqarium {
  display: none;
}

.fish {
  height: 100px;
  width: 100px;
}
.forward_fish {
    animation: fishMoveForward 10s linear infinite;
}
.reverce_fish {
    animation: fishMoveReverce 10s linear infinite;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.barebone{
    /* -webkit-transform: scaleY(-1); */
    /* transform: scaleY(-1); */
    transform: rotate(-90deg);
    animation: fishFall 5s linear ;
    position: absolute;
    z-index: 2;
}

@keyframes fishMoveForward {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes fishMoveReverce {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100px;
  }
}

@keyframes fishFall {
    0% {
      margin-top: 0;
    }
    100% {
      margin-top: 1000px;
        /* display: none; */
    }
  }